header{
  background-color: #2c3e50;
  text-transform: capitalize;
}

.navigation_title{
  margin: 0;
  padding: 20px 0;
}

.navigation{
  color: white;
}

.nav_format{
  color: white;
  text-align: right;
  text-transform: uppercase;
  padding: 20px 0;
}
.nav_format ul{
  margin: 0;
}
.nav_format li{
  list-style: none;
  display: inline-block;
}

.nav_format li:not(:last-child){
  padding-right: 20px;
}

@media screen and (max-width: 767px){
  .navigation_title{
    font-size: 20px;
  }
}
