/* general */
header{
  text-transform: uppercase;
}

.color_primary{
  background-color: #2c3e50;
}

.color_primary_dark{
  background-color: #1a252f;
}

.color_secondary{
  background-color: #53bd9d;
}

.color_white{
  color: white;
}

/* end general */

/* navigation */
.navigation_title{
  margin: 0;
  padding: 20px 0;
}

.nav_format{
  padding: 10px 0;

}

.nav_format li{
  padding: 10px;
  border-radius: 5px;
}

.nav_format li:hover{
  background-color: #53bd9d;
}

.nav_format a{
  color: white;
  text-decoration: none;
}

.nav_button{
  display: none;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #53bd9d;
}

/* end navigation */

/* hero */

.hero_box{
  max-width: 700px;
  margin: auto;
  padding: 30px 0;
  text-align: center;
}

.hero_img{
  margin: auto;
  max-width: 250px;
}

.divisore hr{
  display: inline-block;
  width: 50px;
  border: 2px solid;
  vertical-align: middle;
}

.divisore i{
  vertical-align: middle;
  padding: 0 5px;
}

/* end hero */

/* sec portfolio */

.portfolio_img{
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;

}

/* end sec portfolio */

/* sec about */

#about{
  padding-bottom: 50px;
}

.main_container{
  max-width: 850px;
  margin: auto;
  border: 1px solid black;
  text-align: left;
}

.button{
  background-color: #53bd9d;
  border: 1px solid black;
  color: white;
  padding: 10px 10px;
  margin-top: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* end sec about */

/* sec contact me */
#contact_me{
  text-align: center;
  padding-bottom: 50px;
}
#contact_me ul{
  padding-left: 0;
}

#contact_me li{
  list-style: none;
  padding-bottom: 20px;
  border-bottom: 1px solid black
}

#contact_me li:last-child{
  list-style: none;
  padding-bottom: 60px;
  border-bottom: 1px solid black
}
/* end sec contact me */

/* footer */

/* footer sup */

.footer_sup{
  padding: 30px 0;
}

.footer_sup li{
  /* list-style: none;
  display: inline-block; */
  border: 1px solid white;
  border-radius: 50%;
  padding: 10px 15px;
}
/* end footer sup */

/* footer inf */
.footer_inf p{
  padding: 30px 0;
}

/* end footer inf */




/* responsive */
@media screen and (max-width: 767px){
  .navigation_title{
    font-size: 20px;
  }


@media screen and (max-width: 992px){
  .nav_button{
    display: inline-block;
  }

  .nav_format_none{
    display: none;
  }
}
